* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --card-title-border-color: #746615;
    --card-color-primary: #c6ab10;
    --card-bg-color: #191a1d;
    --body-bg-color: #02020e;
}
body.blue {
    --card-title-border-color: #338af3;
    --card-color-primary: #338af3;
    --card-bg-color: #202024;
    --body-bg-color: #091030;
}
body.green {
    --card-title-border-color: #047c3f;
    --card-color-primary: #047c3f;
    --card-bg-color: #1A1F1B;
    --body-bg-color: #121214;
}
ul{
    list-style: none;
}
/*  
    verde #041904
    azul #02020e
    padrão #121214
*/

/* 
    Linhas removidas do body pois a imagem havia sumido
        background-size: cover;
        background-repeat: no-repeat;
*/
body {
    background-color: var(--body-bg-color);
    background-image: url(../assets/bg.svg);
    background-position: top center;
}
body * {
    font-family: 'Roboto', sans-serif;
}
#app {
    width: fit-content;
    margin: auto;
    padding-top: 52px;
}

header { 
    padding-bottom: 55px;
    text-align: center;
    border-bottom: 1px solid #323238;
}

h1 { 
    padding: 32px;
    color: #e1e1e6;
    text-align: center;
    justify-content: center;
}

p {
    color: #e1e1e6;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #323238;
}

#oitavas {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #323238;
}

#quartas {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #323238;
}

#semi {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #323238;
}

#terceiro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #323238;
}

#final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #323238;
}

.card {
    padding: 32px 23px;
    text-align: center;
    background:var(--card-bg-color);
    border-bottom: 2px solid var(--card-color-primary);
    border-radius: 6px;
}
.card h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid var(--card-title-border-color);
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;
    color: #c6ab10;
}
.card h2 span {
    color: #e1e1e6;
    font-size: 14px;
    text-transform: uppercase;
}
.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
}
.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card ul li + li {
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.card ul li div p {
    display: block;
    font-size: 20px;
    line-height: 125%;
    color: #e1e1e6;
} 

.card ul li strong {
    display: block;
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color: #e1e1e6;
}

.card h2:hover,  
.card ul li strong:hover,
.card ul li p:hover,
.card ul li img:hover {
transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li p,
.card ul li img{
    transition: transform 0.3;
}

.card{
    opacity: 0;
    animation: appear .2s forwards;
}

footer{
    font-family: 'Roboto', sans-serif;
    color: #e1e1e6;
    text-align: right;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
}

@keyframes appear {
0% {
    transform: translateY(-50px);
    opacity: 0;
}
100% {
    opacity: 1;
}
}

@media (min-width: 700px) {
    #cards{
        max-width: 670px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #oitavas{
        max-width: 670px;
        flex-direction: row;
        flex-wrap: wrap;
    }#quartas{
        max-width: 670px;
        flex-direction: row;
        flex-wrap: wrap;
    }#semi{
        max-width: 670px;
        flex-direction: row;
        flex-wrap: wrap;
    }#terceiro{
        max-width: 670px;
        flex-direction: row;
        flex-wrap: wrap;
    }#final{
        max-width: 670px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}